<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" class="style">
    <title>login</title>
</head>
<body>

   <content>
       <div class="container-fluid   " id="body-color">
           <div class="container-xl d-flex h-auto  profile-main">
             
               <div class="profile-div2 bg-transparent d-flex justify-content-center" style="height: 100vh;">             
                       
                       <div class="form bg-white" >
                        <div class="form-content">
                            <header>OTP Verification</header>
                            <form action="/otpverification" method="post">
                             
                                <label class="text-label pt-3">Enter OTP</label>
                                <div class="field input-field">
                                    <input type="text" name="otp" placeholder="Enter OTP" class="input">
                                     <% if (error){%>
                                        <div class="error-message"><%= error %></div>
                                      <% } %>
                                </div>
                                <div class="field button-field">
                                    <button type="submit">Verify OTP</button>
                                </div>
                            </form>
                            <div class="form-link">
                                <span><a href="/resend-otp" class="link signup-link">Resend OTP</a></span>
                            </div>
                        </div>
                    </div>
               </div>
       </div>
       
   </content>
  
</body>
</html>